time/cur/dilithium2/crypto_sign/.*
time/cur/dilithium2/crypto_sign/solution1/.*
area/cur/dilithium2/crypto_sign/.*
area/cur/dilithium2/crypto_sign/solution1/.*
time/opt/dilithium2/crypto_sign/.*
time/opt/dilithium2/crypto_sign/solution1/.*
area/opt/dilithium2/crypto_sign/.*
area/opt/dilithium2/crypto_sign/solution1/.*